<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f4f6f8;">
    <div class="logo">
        <img src="../../assets/images/mainlogo.jpg" style="height: 90px; padding-left: 30px;padding-right:20px;padding-top: 10px;">
        
    </div>
    <div class="title" style="color: rgb(15, 15, 14);padding-right: 300px;font-weight: bolder;font-family: Verdana, Geneva, Tahoma, sans-serif;">CST Hostel Room Allocation Management System</div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="">Home </a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Sign Up</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        <li class="nav-item ">
            <a class="nav-link" href="#">About Us </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
      
      </ul>
    
    </div>
  </nav>
